/* style */ 

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #DDD7CB;
    margin: 0;
    line-height: 1.6;
}

section {
    margin: 3em;
    padding: 2em 2em;
    background: rgba(247, 243, 240, 0.25);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
}

img {
    display: block;
    max-width: 100%;
}
/* style */ 

/* navigation */

.header {
    height: 190px;
    margin-top: 0;
    padding-top: 1em;
    background: none;
}

nav {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

ul {
    display: flex;
    width: 400px;
    list-style-type: none;
    justify-content: space-around;
}

li {
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.logo {
    background: radial-gradient(50% 50% at 50% 50%, #5D7466 76.56%, rgba(93, 116, 102, 0) 100%);
}

.subheader h1 {
    text-align: center;
    margin: 0;

}

/* -----navigation----- */

/* hero */

.hero-section {
    display: grid;
    position: relative;
    background: rgba(247, 243, 240, 0.25);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
}

/*@media (min-width: 600px) {
    .hero-section {
        display: grid;
        grid-template-areas: 
            "hero-text"
            "hero-img";
        grid-template-columns: min-content max-content;
    }
}

.hero-img {
    grid-area: img;
    min-width: 250px;
  
}*/

    /*display: flex;
    justify-content: space-around;
    padding: 50px;
    background: rgba(247, 243, 240, 0.25);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12); */
/*.hero-text {
    margin: 50px;
}
.hero-text p {
    font-size: 18px;
    margin: 0;
    text-align: left;
    width: 70%;
    text-align: justify;
}
.hero-text h1 {
    margin: 0%;
    text-align: left;
}
.hero-img {
    float: right;
    padding: 50px;
    position: relative;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}
/* -----hero----- */

/* work */

.workGrid {
    display: grid;
}

.diyImg img  {
    width: 200px;
    height: 200px;
}

/* ------work----- */

/* about */

#about-me {
    display: flex;
    justify-content: space-around;
}

.about-text {
    text-align: justify;
}

.nadja {
    width: 300px;
}

/* ------about------ */

/* skills */

/*.my-skills {
    display: flex;
    flex-direction: column;
    column-width: 25%;
    text-align: center;
    margin: auto;
    padding: 1%;
    background: rgba(247, 243, 240, 0.25);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
}*/


.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
}

.skill {
    text-align: center;
    justify-content: center;    
    padding-left: 1em;
    padding-right: 1em;
}

.skills-container {
    background: rgba(247, 243, 240, 0.25);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
    height: auto;
}

.skills p {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}


.skills-header {
    text-align: center;
    vertical-align: top;
    margin: auto 0;

}



/* -----skills----- */

/* contact */

/* -----contact----- */

/* footer */

.footer {
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #807E7C;
    height: 200px;
}

.footer li {
    text-align: center;
    width: 100%;
    color: black;
    text-decoration: none;
}
/* -----footer-----*/

/* text */

li {
    font-weight: bold;
    font-family: 'Aktiv Grotesk Ex';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;

}

h1 {
    font-family: 'AWConqueror Std Didot';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.6;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
}

h3 {
    font-family: 'Aktiv Grotesk Ex';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: flex;
}

p {
    font-family: 'Aktiv Grotesk Ex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;    
    text-decoration: none;
}

/*:root {
    --ff-primary: 'aktiv-grotesk-extended', sans-serif;
    --ff-seconary: 'aw-conqueror-didot', serif;

    --fs-h1: 42px;
    --fs-h2: 16px;
    --fs-h3: 14px;
}*/
